	/*
  	Flaticon icon font: Flaticon
  	Creation date: 31/07/2020 01:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-telephone:before { content: "\f100"; }
.flaticon-pin:before { content: "\f101"; }
.flaticon-alarm-clock:before { content: "\f102"; }
.flaticon-email:before { content: "\f103"; }
.flaticon-left-arrow:before { content: "\f104"; }
.flaticon-right-arrow:before { content: "\f105"; }
.flaticon-therapist:before { content: "\f106"; }
.flaticon-24-hours:before { content: "\f107"; }
.flaticon-consultation:before { content: "\f108"; }
.flaticon-foot:before { content: "\f109"; }
.flaticon-physical:before { content: "\f10a"; }
.flaticon-massage:before { content: "\f10b"; }
.flaticon-broken-bone:before { content: "\f10c"; }
.flaticon-chiropractic:before { content: "\f10d"; }
.flaticon-doctor:before { content: "\f10e"; }
.flaticon-patient:before { content: "\f10f"; }
.flaticon-physiotherapy:before { content: "\f110"; }
.flaticon-plus-symbol:before { content: "\f111"; }
.flaticon-alarm-clock-1:before { content: "\f112"; }