/*  Theme Responsive Css */


@media only screen and (max-width: 1600px){

}

@media only screen and (max-width: 1200px){
  #navbarNavDropdown {
    display: none !important;
  }
  .topbutton-wrap {
    display: none;
  }
  .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }
  .mobile-menu .dropdown {
      margin-right: 0;
  }
  .mobile-menu .dropdown-menu {
      background: transparent;
      box-shadow: unset !important;
  }
  .hero-title {
    font-size: 50px;
  }
  .section-text-wrap {
    padding-left: 0 !important;
  }
  .common-btn {
    padding: 15px 20px;
  }
  .progress-inner {
    right: unset;
    left: 80px;
  }
  .owl-item-wrap {
    max-width: 550px;
  }

  .page-numbers {
    padding: unset;
  }
}
@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}
@media only screen and (max-width: 991px){
  .hero-title {
    font-size: 30px;
    margin-bottom: 10px !important;
    font-weight: 800;
  }
  .hero-section-wrap p {
    margin-bottom: 20px !important;
  }
  .hero-section-wrap > span {
    display: none;
  }
  .progress-inner {
    right: 50px;
    left: unset;
  }
  .about-wrapper {
    position: relative;
    margin-bottom: 50px;
  }
  .mb-150 {
    margin-bottom: 10px;
}
  .section-text-wrap {
    padding-left: 0 !important;
    margin-bottom: 60px;
    margin-right: 0 !important;
  }
  .owl-item-wrap {
    max-width: 350px;
    font-size: 14px;
    line-height: 1.5;
  }
  .counter-boxes {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .blog-content .box-title {
    font-size: 16px;
  }
  .section-title {
    font-size: 24px;
    font-weight: 800;
  }
  .sidebar {
    margin-top: 50px;
  }
  .blog-standard-content {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 767px){
  .container {
    max-width: 100%;
  }
  #hero-section .container .row .col-lg-6:last-child {
    order: 1;
    display: block;
  }
  #hero-section .container .row .col-lg-6:first-child {
    order: 2;
  }
  .hero-section-image {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 599px){
  .about-wrapper .user-img img {
    width: 80%;
  }
  .progress-inner {
    right: -20px;
    left: unset;
    transform: translateY(-50%) scale(.75);
  }
  .testimonial-wrap .owl-nav {
    display: none;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  .form-wrap .col-4 {
    width: 100%;
  }
  .form-wrap .row {
    row-gap: 20px;
  }
  .form-wrap .mt-20 {
    margin-top: 0px !important;
  }
  .services-box {
    display: block !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  #footer-menu {
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  .social-links ul {
    justify-content: flex-start !important;
    margin-top: 20px;
  }
  .services-item {
    display: block !important;
    text-align: center;
  }
  .services-item .services-text {
    margin: 0 !important;
  }
  .services-item .service-icon {
    margin-bottom: 30px;
  }
  .services-box {
    padding: 20px !important;
  }
}
@media only screen and (max-width: 424px){
  .progress-inner {
    right: -80px;
    left: unset;
    transform: translateY(-50%) scale(.5);
  }
  .hero-icons a {
    height: 35px;
    width: 35px;
    padding: unset;
    font-size: 14px;
    line-height: 35px;
    border: 1px solid #D9D9D9;
  }
}
